#home-page {

    header {
        position: absolute;
        top: 0;
        padding: 2rem 0;
        width: 100%;
        box-sizing: border-box;

        .logo-wrapper {
            display: flex;
            justify-content: center;
            padding: 0;
            gap: 0.5625rem;
        }

        .logo-wrapper h1 {
            color: #000;
            font-size: 1.125rem;
            margin: 0;
        }
    }

    .background {
        height: 372px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background-color: #F8FAFF;
    }

    .background img {
        height: 50%;
    }

    .form-container {
        padding: 2rem 1rem;
        color: #000;
        margin: 0 auto;
   
        &__title {
            margin: 0;
            font-size: 1.5rem;
            letter-spacing: -0.03em;
            line-height: 110%;
        }

        form {
            margin-top: 2rem;
        }

        &__.row {
            display: flex;
            gap: 0.875rem;
            margin-top: 0.875rem;
        }

        &__.input-container {
            flex: 1;
            overflow: hidden;
            position: relative;
        }

        &__.input-container input {
            border: 0;
            box-sizing: content-box;
            height: 16px;
            width: calc(100% - calc(23px + 24.5px));
            font-size: 1rem;
            line-height: 1rem;
            margin: 0;
            padding: 0;
            padding: 27px 23px 11px 23px;
            border-radius: 18px;
            border: 1px solid #DADFE9;
        
            &:focus {
                outline: none;
                border-color: #0D1016;
            }
        }

        &__.label-wrapper {
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
        }

        &__.label-wrapper label {
            position: absolute;
            left: 24px;
            letter-spacing: -0.03em;
        }

        &__.input-container:hover, &__.label-wrapper label:hover {
            cursor: text;
        } 

        &__.label-wrapper--active {
            font-size: 0.75rem;
            align-items: flex-start;
            padding-top: 12px;
        }

        &__.row:last-of-type {
            margin-bottom: 2rem;

            .input-container:first-child {
                flex-grow: 1.74;
            }

            .input-container:last-child {
                flex-grow: 1;
            }
        }

        &__.button {
            padding: 1.25rem 0;
            width: 100%;
            border-radius: 1.125em;
            border: none;
            background-color: #2162E3;
            color: #FFF;
            font-weight: 600;
            letter-spacing: -0.03em;
        }

        &__.button:hover {
            cursor: pointer;
            background-color: #3A78F4;
        }

        &__.button--inactive {
            background-color: #EBEFF5;
        }
    }

}